<div class="w-full mb-3">
    <div class="page-title">
        <span><i class="pi pi-fw pi-reply" style="font-size: 1.3rem;"></i>&nbsp;Transfer</span>
    </div>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
</div>
<div class="w-full mb-3">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-7">
            <div class="w-full mb-3">
                <p-panel header="Source">
                    <p-inputGroup>
                        <p-inputNumber [styleClass]="'transfer-input-field'" [minFractionDigits]="0"
                            [maxFractionDigits]="18" [placeholder]="'0.00'"></p-inputNumber>
                        <button type="button" pButton class="p-button-text transfer-crypto-button" label="BTC">
                            <img src="./../../../assets/crypto/bitcoin.webp" class="transfer-crypto-icon" />
                        </button>
                    </p-inputGroup>
                    <div class="w-full mt-3">
                        <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                            Max (100%)
                        </button>
                        <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                            75%
                        </button>
                        <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                            50%
                        </button>
                        <button type="button" pButton class="p-button p-button-secondary p-button-sm">
                            25%
                        </button>
                    </div>
                    <ng-template pTemplate="footer">
                        <span><b>Balance:</b> 1,000.00 (BTC)</span>
                    </ng-template>
                </p-panel>
            </div>
            <div class="w-full mb-3 text-center">
                <p-panel header="Destination Address">
                    <input type="text" pInputText class="w-full" />
                </p-panel>
            </div>
            <div class="w-full mb-3">
                <p-button label="Transfer" [styleClass]="'w-full'" [rounded]="true" [size]="'large'"></p-button>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-5">

        </div>
    </div>
</div>