<div class="w-full mb-3">
    <div class="page-title">
        <span><i class="pi pi-fw pi-reply" style="font-size: 1.3rem;"></i>&nbsp;Transfer</span>
    </div>
    <p-breadcrumb class="max-w-full" [model]="breadcrumbItems" [home]="breadcrumbHome"></p-breadcrumb>
</div>
<div class="w-full mb-3">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-7">
            <div class="w-full mb-3">
                <p-panel header="Select Token">
                    <div class="grid">
                        <div class="col-12 md:col-8 lg:col-7">
                            <p-inputNumber [styleClass]="'w-full transfer-form-input-field'" class="w-full"
                                [minFractionDigits]="0" [maxFractionDigits]="18" [placeholder]="'0.00'"
                                [(ngModel)]="transferAmount"></p-inputNumber>
                            <!-- <div class="w-full mt-3">
                                <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                                    Max (100%)
                                </button>
                                <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                                    75%
                                </button>
                                <button type="button" pButton class="p-button p-button-secondary p-button-sm mr-1">
                                    50%
                                </button>
                                <button type="button" pButton class="p-button p-button-secondary p-button-sm">
                                    25%
                                </button>
                            </div> -->
                        </div>
                        <div class="col-12 md:col-4 lg:col-5">
                            <div class="w-full">
                                <p-dropdown [options]="assets" [(ngModel)]="selectedAsset" [filter]="true"
                                    filterBy="metadata.symbol" [styleClass]="'w-full text-4xl'"
                                    placeholder="Select Token" (onChange)="selectAssetOnChange($event)">
                                    <ng-template pTemplate="selectedItem">
                                        <div class="flex align-items-center gap-2" *ngIf="selectedAsset != undefined">
                                            <img src="./../../../assets/crypto/{{selectedAsset.metadata.symbol}}.png"
                                                height="30" />
                                            <div class="text-4xl">
                                                {{ selectedAsset.metadata.symbol }}
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template let-asset pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <img src="./../../../assets/crypto/{{asset.metadata.symbol}}.png"
                                                style="width: 30px" />
                                            <div><b>{{ asset.metadata.symbol }}</b> ({{ asset.metadata.name }})</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <ng-template pTemplate="footer">
                        <b>Balance:</b>
                        {{decimalPipe.transform(assetSourceBalance != undefined ? assetSourceBalance.balance : 0,
                        "1.5-5") ||
                        "0"}}
                        {{assetSourceBalance != undefined ? assetSourceBalance.asset.metadata.symbol : ''}}
                    </ng-template>
                </p-panel>
            </div>
            <div class="w-full mb-3">
                <p-accordion>
                    <p-panel header="Calculations">

                    </p-panel>
                </p-accordion>
            </div>
            <div class="w-full mb-3 text-center">
                <p-panel header="Destination Address">
                    <input type="text" pInputText [(ngModel)]="destinationAddress" class="w-full" />
                </p-panel>
            </div>
            <div class="w-full mb-3">
                <p-button label="Submit" [styleClass]="'w-full'" [rounded]="true" [size]="'large'"
                    (onClick)="transferExtrinsics()"></p-button>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="showProcessModal" [style]="{width: '60vw'}" [modal]="true" [closable]="false">
    <div class="w-full text-center">
        <div class="w-full" *ngIf="executionExtrinsicsStatus == undefined">
            <p-progressSpinner></p-progressSpinner>
            <div class="w-full mt-3" style="white-space: pre-wrap;">
                Processing
            </div>
        </div>
        <div *ngIf="executionExtrinsicsStatus != undefined">
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == false">
                <i class="pi pi-check" style="font-size: 5rem; font-weight: bold; color: rgb(119, 255, 119);"></i>
            </div>
            <div class="w-full mb-2" *ngIf="executionExtrinsicsStatus.isError == true">
                <i class="pi pi-times" style="font-size: 5rem; font-weight: bold; color: rgb(202, 74, 74);"></i>
            </div>
            <div class="w-full mb-3" style="white-space: pre-wrap;">
                {{executionExtrinsicsStatus.message}}
            </div>
            <button pButton type="button" label="Okay" class="p-button"
                (click)="showProcessModal = false; executionExtrinsicsStatus = undefined;"></button>
        </div>
    </div>
</p-dialog>

<p-toast></p-toast>