.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    z-index: 1;
}

.main-content {
    display: flex;
    flex: 1;
    height: 50vh;
}

.outlet-container {
    padding: 25px;
    width: 100%;
    overflow-y: scroll;
}